# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
backend/venv/
frontend/node_modules/

# Environment Variables
.env

# ML Models
*.joblib
*.pkl

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/