fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
passlib[bcrypt]
python-multipart
email-validator
alembic
pytest
httpx
reportlab
joblib
numpy
pandas
scikit-learn
xgboost
