fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
email-validator
alembic
pytest
httpx
reportlab
joblib
numpy
pandas
scikit-learn
xgboost
